<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>事件列表</h2>
    </div>
    <!-- 按钮工具栏 -->
    <div class="cf">
        <div class="fl">
            <a class="btn" href="{:U("Project/projectAdd")}">新增</a>
            <button class="btn ajax-post confirm" url="{:U('Project/projectDel')}" target-form="ids">批量删除</button>
        </div>
    </div>

    <!-- 数据表格 -->
    <div class="data-table">
        <table>
            <!-- 表头 -->
            <thead>
                <tr>
                    <th class="row-selected row-selected">
                        <input class="check-all" type="checkbox">
                    </th>
                    <th>原事项编号</th>
                    <th>评价代码</th>
                    <th>事件类型</th>
                    <th>受评类型</th>
                    <th>相关人员</th>
                    <th>总体评价</th>
                    <th>创建时间</th>
                    <th width="20%">操作</th>
                </tr>
            </thead>
            <!-- 列表 -->
            <tbody>
                <volist name="list" id="vo">
                <tr>
                    <td><input class="ids" type="checkbox" value="{$vo.id}" name="ids[]"></td>
                    <td>{$vo.num}</td>
                    <td><a href="{:U('Project/projectView',array('id'=>$vo['id']))}" target="blank">{$vo.no}</a></td>
                    <td><?php echo $conf['PROJECT_TYPE'][$vo['type']]; ?></td>
                    <td><?php echo $conf['TO'][$vo['to']]; ?></td>
                    <td>
                        <volist name="vo.staff" id="item" key="i">{$item.name}&nbsp;&nbsp;</volist>  
                    </td>
                    <td>
                        好评：{$vo.rank.r_1}&nbsp;&nbsp;
                        中评：{$vo.rank.r_2}&nbsp;&nbsp;
                        差评：{$vo.rank.r_3}
                    </td>
                    <td>{$vo.date|date="Y-m-d",###}</td>
                    <td><a href="{:U('Project/projectView',array('id'=>$vo['id']))}" target="_blank">评价详情</a> | 
                        <a href="{:U('Home/Project/index',array('id'=>$vo['id']),'',$_SERVER['SERVER_NAME'])}" id="showqr_{$vo.id}" class="showqr" target="_blank">预览</a> | 
                        <a href="{:U('Project/rankRecord',array('type'=>'1','id'=>$vo['id']))}" target="_blank">评价人</a> | 
                        <a href="{:U('Project/projectDel')}&ids={$vo.id}" class="confirm ajax-get">删除</a>
                        <div class="qrcode" id="qrcode_{$vo.id}">
                            <img src="index.php?s=/Admin/Project/qrView&url=https://open.weixin.qq.com/connect/oauth2/authorize?appid={:C('WECHAT_APPID')}%26redirect_uri={:U('Home/Project/index',array('id'=>$vo['id']),'',$_SERVER['SERVER_NAME'])}%26response_type=code%26scope=snsapi_userinfo%26state=STATE%23wechat_redirect" alt="" width="150" height="150" />
                        </div>
                        <style>
                            .qrcode { position:absolute; display:none;}
                            .qrcode img { position:relative; left:-15px;}
                        </style>
                    </td>  
                </tr>
                </volist>
            </tbody>
        </table>
    </div>


    <!-- 分页 -->
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(document).ready(function(){
            $('.showqr').hover(
                function(){
                    var con = $(this).attr('id');
                    var id  = con.split("_")[1];
                    $('#qrcode_'+id).show(300);
                   
                },
                function(){
                    var con = $(this).attr('id');
                    var id  = con.split("_")[1];
                    $('#qrcode_'+id).hide(300);
                }
            );
        });
    </script>
</block>

</block>
